.hero{
    background: url(https://images.unsplash.com/photo-1493247916314-b6e2d33e25b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}