.navbar {
  margin: 1em 0;
  @include until($mobile) {
    margin: 0;
  }
}

.navbar-start {
  &:hover {
    a.navbar-item {
        opacity: 0.5;
        &:hover{
            opacity: 1;
        }
    }
  }
  a.navbar-item {
    $color: #000;
    color: $color;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;

    border-bottom: transparent solid 3px;

    &:focus,
    &:focus-within,
    &:hover {
      background: transparent;
      border-color: $color;
      color: $color;
    }
  }
}
