@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');

$primary-color : #400080;
$secondary-color : #e60000;
$bg-color : #202020;

$text-color : #ffffff;

$font-poppins : 'Poppins', sans-serif;
$font-roboto : 'Roboto', sans-serif;